<!-- where the header goes -->
<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
		<h2 class="sub-header" ng-if="id">Edit Tunnel</h2>
		<h2 class="sub-header" ng-if="!id">Add Tunnel</h2>
	</div>
</div>

<!-- row for form error -->
<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
		<!-- form-level error -->
  		<div id="tunnelFormError" ng-if="status.alert" class="alert alert-danger">
  			<h4>Oh no!</h4><p>{{status.alert}}</p>
  		</div>
	</div>
</div>

<!-- tunnel form segments -->
<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
		<ul class="nav nav-tabs">
		  <li class="active"><a data-target="#tunnel" data-toggle="tab">Tunnel</a></li>
		  <li><a data-target="#code" ng-click="updateMirror()" data-toggle="tab">Raw Code</a></li>
		</ul>
	</div>
</div>

<!-- force break -->
<p></p>

<!-- form goes outside -->
<form novalidate name="tunnelForm" role="form">

	<div class="row">
		<div class="col-sm-12">

			<div class="tab-content">
				<div class="tab-pane active" id="tunnel">
					<div class="row" >
						<div class="col-sm-offset-1 col-sm-10">
						  
						  <!-- name detail -->
						  <div class="row">
							  <div class="col-sm-10">
						  	  	<!-- tunnel name -->
							  	<div class="form-group has-feedback" ng-class="{'has-error': tunnelForm.inputTunnelName.$invalid && tunnelForm.inputTunnelName.$dirty, 'has-success': tunnelForm.inputTunnelName.$valid && tunnelForm.inputTunnelName.$dirty}">
									<label for="inputTunnelName" class="control-label">Tunnel Name</label>
								    <input type="text" class="form-control" name="inputTunnelName" id="inputTunnelName" required ng-model="bootstrap.configuration.name" placeholder="tunnel description">
									<span ng-if="tunnelForm.inputTunnelName.$dirty" ng-class="{'glyphicon-remove': tunnelForm.inputTunnelName.$invalid && tunnelForm.inputTunnelName.$dirty, 'glyphicon-ok': tunnelForm.inputTunnelName.$valid && tunnelForm.inputTunnelName.$dirty}" class="glyphicon form-control-feedback"></span>
								    <span class="help-block">A unique name for the tunnel that can be used to identify it more easily in the web interface and on disk.</span>
							    </div>				    
							  </div>					  
						  </div>
						  
						  <!-- input side -->
						  <div class="row">
							  <div class="col-sm-6">
								  <!-- tunnel bind interface -->
								  <div class="form-group has-feedback" ng-class="{'has-error': tunnelForm.inputTunnelSourceInterface.$invalid && tunnelForm.inputTunnelSourceInterface.$dirty, 'has-success': tunnelForm.inputTunnelSourceInterface.$valid && tunnelForm.inputTunnelSourceInterface.$dirty}">
								    <label for="inputTunnelSourceInterface" class="control-label">Bind Interface</label>
									<input required sf-typeahead class="form-control" id="inputTunnelSourceInterface" name="inputTunnelSourceInterface" type="text" options="typeAheadOptions" datasets="suggestionSources" ng-model="bootstrap.configuration.sourceInterface" placeholder="0.0.0.0">
									<span ng-if="tunnelForm.inputTunnelSourceInterface.$dirty" ng-class="{'glyphicon-remove': tunnelForm.inputTunnelSourceInterface.$invalid && tunnelForm.inputTunnelSourceInterface.$dirty, 'glyphicon-ok': tunnelForm.inputTunnelSourceInterface.$valid && tunnelForm.inputTunnelSourceInterface.$dirty}" class="glyphicon form-control-feedback"></span>
									<span class="help-block">The interface (physical, hostname, or address) that the tunnel will be bound to.  Ex: '127.0.0.1', 'localhost', '0.0.0.0'</span>
								  </div>    
							  </div>
							  
							  <div class="col-sm-4">
								  <!-- tunnel source port -->
								  <div class="form-group has-feedback" ng-class="{'has-error': tunnelForm.inputTunnelSourcePort.$invalid && tunnelForm.inputTunnelSourcePort.$dirty, 'has-success': tunnelForm.inputTunnelSourcePort.$valid && tunnelForm.inputTunnelSourcePort.$dirty}">
								    <label for="inputTunnelSourcePort" class="control-label">Source Port</label>
								    <input required type="text" class="form-control" name="inputTunnelSourcePort" id="inputTunnelSourcePort" port-check ng-model="bootstrap.configuration.sourcePort" placeholder="8080">
								    <span ng-if="tunnelForm.inputTunnelSourcePort.$dirty" ng-class="{'glyphicon-remove': tunnelForm.inputTunnelSourcePort.$invalid && tunnelForm.inputTunnelSourcePort.$dirty, 'glyphicon-ok': tunnelForm.inputTunnelSourcePort.$valid && tunnelForm.inputTunnelSourcePort.$dirty}" class="glyphicon form-control-feedback"></span>
								    <span ng-if="tunnelForm.inputTunnelSourcePort.$pristine || tunnelForm.inputTunnelSourcePort.$valid" class="help-block">The port, between 1 and 65536, that the tunnel should bind to.  Ports less than or equal to 1024 require special permissions on some operating systems.</span>
								    <span ng-if="status.inputTunnelSourcePort" class="help-block text-danger">{{status.inputTunnelSourcePort}}</span>
								  </div>  
							  </div>
						  </div>
						  				  
						  <!-- output side -->
						  <div class="row">
						  	<div class="col-sm-6">
							  <!-- tunnel destination host -->
							  <div class="form-group has-feedback" ng-class="{'has-error': tunnelForm.inputTunnelDestinationHost.$invalid && tunnelForm.inputTunnelDestinationHost.$dirty, 'has-success': tunnelForm.inputTunnelDestinationHost.$valid && tunnelForm.inputTunnelDestinationHost.$dirty}">
							    <label for="inputTunnelDestinationHost" class="control-label">Destination Host</label>
							    <input required type="text" class="form-control" id="inputTunnelDestinationHost" name="inputTunnelDestinationHost" ng-model="bootstrap.configuration.destHost" placeholder="192.168.100.12">
							    <span ng-if="tunnelForm.inputTunnelDestinationHost.$dirty" ng-class="{'glyphicon-remove': tunnelForm.inputTunnelDestinationHost.$invalid && tunnelForm.inputTunnelDestinationHost.$dirty, 'glyphicon-ok': tunnelForm.inputTunnelDestinationHost.$valid && tunnelForm.inputTunnelDestinationHost.$dirty}" class="glyphicon form-control-feedback"></span>
								<span class="help-block" style="display: block;">The address or host name (Ex: 'google.com' or '192.168.100.12') that traffic on this tunnel should be forwarded to</span>
							  </div>	
						  	</div>
						  	
						  	<div class="col-sm-4">
							  <!-- tunnel destination port -->
							  <div class="form-group has-feedback" ng-class="{'has-error': tunnelForm.inputTunnelDestinationPort.$invalid && tunnelForm.inputTunnelDestinationPort.$dirty, 'has-success': tunnelForm.inputTunnelDestinationPort.$valid && tunnelForm.inputTunnelDestinationPort.$dirty}">
							    <label for="inputTunnelDestinationPort" class="control-label">Destination Port</label>
							    <input required type="text" class="form-control" id="inputTunnelDestinationPort" name="inputTunnelDestinationPort" ng-model="bootstrap.configuration.destPort" force-number min="1" max="65536" placeholder="80">
								<span ng-if="tunnelForm.inputTunnelDestinationPort.$dirty" ng-class="{'glyphicon-remove': tunnelForm.inputTunnelDestinationPort.$invalid && tunnelForm.inputTunnelDestinationPort.$dirty, 'glyphicon-ok': tunnelForm.inputTunnelDestinationPort.$valid && tunnelForm.inputTunnelDestinationPort.$dirty}" class="glyphicon form-control-feedback"></span>
							    <span class="help-block" style="display: block;">The port (Ex: 80 for HTTP traffic) on the destination address that the traffic should be forwarded to.  (The value should be between 1 and 65536.)</span>
							  </div>	
						  	</div>
						  </div>	  
						</div>
					</div>
				</div>
		
				<!-- pane for json code display -->
				<div class="tab-pane" id="code">
					<div class="row" >
						<div class="col-sm-offset-1 col-sm-10">
						  <!-- edit source directly -->		  
						  <div class="form-group">
					  		<textarea ui-codemirror="editorOptions" ng-model="modelJsonStringShadow"></textarea>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- form controls -->
	<div class="row">
		<div class="col-sm-offset-1 col-sm-10">
			<!-- controls -->
			<div class="form-group">
			  <div class="col-sm-2">
			    <button type="submit" ng-disabled="tunnelForm.$pristine" ng-class="{'disabled': tunnelForm.$pristine}" ng-click="reset()" class="btn btn-default">reset</button>
			    <button type="submit" ng-disabled="tunnelForm.$invalid" ng-class="{'disabled': tunnelForm.$invalid}" ng-click="save(bootstrap.configuration)" class="btn btn-primary">save</button>
			  </div>
			  <div class="col-sm-offset-1 col-sm-1">
			    <!-- do nothing and return -->
			    <button ng-click="cancel()" class="btn btn-default">cancel</button>
			  </div>
			</div>
		</div>
	</div>
</form>