<h2 class="sub-header">Tunnels</h2>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th><!-- icon --></th>
				<th>source port</th>
				<th>destination</th>
				<th>destination port</th>
				<th>connections</th>
				<th>traffic</th>
				<th><!-- controls --></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tunnel in tunnels">
				<td><i class="fa fa-transfer"></i></td>
				<!-- info -->
				<td>{{tunnel.configruation.sourcePort}}</td>
				<td>{{tunnel.configruation.destHost}}</td>
				<td>{{tunnel.configruation.destPort}}</td>
				<!-- connections -->
				<td>
					<span ng-if="tunnel.stats">{{tunnel.stats.activeConnections}} ({{tunnel.stats.totalConnections}})</span>
				</td>
				<!-- traffic -->
				<td>
					<span ng-if="tunnel.stats">
						{{tunnel.stats.read}}
						<i class="fa fa-arrow-up"></i>
						{{tunnel.stats.returned}}
						<i class="fa fa-arrow-down"></i>
					</span>
				<td>
					<button ng-click="pause(tunnel.sourcePort)" class="btn btn-sm"><i class="fa fa-pause"></i></button>
					<button ng-click="remove(tunnel.sourcePort)" class="btn btn-sm"><i class="fa fa-times"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>